
@{
}

@using FinalMission.Models
@{
    ViewData["Title"] = "Entertainers";
}

@model List<Entertainers>

<div class="container mt-5">
    <h1 class="mb-3">Entertainers</h1>
    <table class="table table-responsive table-hover">
        <thead class="table-primary">
            <tr>
                @*<th>#</th>*@
                <th>Stage Name</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var e in Model)
            {
                <tr>
                    @*<th>@e.EntertainerId</th>*@
                    <td>@e.EntStageName</td>
                    <td>
                        <a asp-controller="Home" asp-action="Details" asp-route-id="@e.EntertainerId" class="btn btn-secondary">Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <a asp-controller="Home" asp-action="Add" class="btn btn-primary mb-3">Add Entertainer</a>
</div>