@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome, bored people!</h1>
    <h3>Our one, only, and <em>final</em> mission, is to get you <strong>entertained.</strong></h3>
    <h5>You'll find all the information and functionality that you need regarding our entertainers in the Entertainers tab.</h5>

</div>
